@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap'); 
     


:root{ 
    --preto: #222831; 
    --cinza: #393E46; 
    --azul: #00ADB5; 
    --branco: #EEEEEE;
    --font-titulo: "Open Sans", sans-serif; 
    --fonte-texto: "Playfair Display", serif; 
} 
body{ 
    background-color: var(--cinza); 
    color: var(--preto);
    font-family: var(--fonte-texto);

}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    
}
.titulo-principal{
  text-align:left;
  width: 100%;
  font-size: 36px;
}


.titulo-principal span{
    color: var(--branco);
}
.botao{
  font-family: var(--fonte-texto);
  font-size: 18px;
  background-color: var(--preto);
  color: antiquewhite;
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  width: 100%;
  border-bottom: 4px solid var(--branco);
  border-left: 4px solid var(--preto);
  border-right: 4px solid var(--branco);
  border-top: none;

}
.botoes{
    display: block;
}

.botao:first-child{
    border-radius: 40px 40px 0 0;
}

.botao:last-child{
    border-radius: 0 0 40px 40px;
}
 
.ativo{
    background-color: var(--preto);
    border-bottom: var(--preto);
}

@media screen and (min-width: 768px){
    .botoes{
        display: flex;
    }
    .botao:first-child{
        border-radius: 40px 0 0 0;
    }
    .botao:last-child{
       border-radius: 0 40px 0 0;
    }
}