@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap'); 
     


:root{ 
    --preto: #222831; 
    --cinza: #393E46; 
    --azul: #00ADB5; 
    --branco: #EEEEEE;
    --font-titulo: "Open Sans", sans-serif; 
    --fonte-texto: "Playfair Display", serif; 
} 
body{ 
    background-color: var(--cinza); 
    color: var(--preto);
    font-family: var(--fonte-texto);

}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    
}